<form ng-submit = "vm.update()">
  <label>Title: </label>
  <input ng-model = "vm.book.title" type = "text" placeholder = "Title">
  <br><br>
  <label>Author: </label>
  <input ng-model = "vm.book.author" type = "text" placeholder = "Author">
  <br><br>
  <label>Publication: </label>
  <input ng-model = "vm.book.publish" type = "number" placeholder = "Pub Year">
  <br><br>
  <label>Genre: </label>
  <input ng-model = "vm.book.genre" type = "text" placeholder = "Genre">
  <br><br>
  <button type = "submit">Submit</button>
</form>
